<div class="row card-deck">
    <div class="col-4">
        <tq-product-detail></tq-product-detail>
    </div>
    <div class="col-4">
        <tq-product-detail></tq-product-detail>
    </div>
    <div class="col-4">
        <tq-product-detail></tq-product-detail>
    </div>
    <div class="col-4">
        <tq-product-detail></tq-product-detail>
    </div>
    <div class="col-4">
        <tq-product-detail></tq-product-detail>
    </div>
    <div class="col-4">
        <tq-product-detail></tq-product-detail>
    </div>
    <div class="col-4">
        <tq-product-detail></tq-product-detail>
    </div>
    <div class="col-4">
        <tq-product-detail></tq-product-detail>
    </div>
    <div class="col-4">
        <tq-product-detail></tq-product-detail>
    </div>
    <div class="col-4">
        <tq-product-detail></tq-product-detail>
    </div>
</div>